.rodape {
    display: flex;
    justify-content: space-between;
    background-color: var(--cor-secundaria);
    width: 100%;
    height: var(--height-footer);
    align-items: center;
}

.social_media_container {
    margin: 0 10px;
    display: flex;
    gap: 10px;
}

.social_media_buttom {
    color: var(--cor-complementar-3);
    font-size: 1.5rem;
}

.social_media_buttom:hover{
    color: var(--cor-branco);
    font-size: 1.7rem;
}

.paragrafo_footer {
    text-align: center;
}