header {
    background-color: var(--cor-secundaria);
    display: flex;
    padding: 0px 25px;
    height: var(--height-header);
    justify-content: space-between;
    align-items: center;
}

.side_menu {
    position: relative;
    max-width: 115px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav_menu {
    width: 32px;
    height: 32px;
    border: 1px solid var(--cor-complementar-3);
    color: var(--cor-complementar-3);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.nav_menu:hover, 
.nav_menu.menu_appear {
    color: var(--cor-branco);
    border-color: var(--cor-branco);
}

.nav_menu.menu_appear:hover {
    color: var(--cor-complementar-3);
    border-color: var(--cor-complementar-3);
}

.icone_menu {
    width: 20px;
    border-top: 2px solid currentColor;
}

.icone_menu::before, .icone_menu::after {
    content: '';
    display: block;
    height: 2px;
    width: 20px;
    background: currentColor;
    margin-top: 5px;
    transition: .3s;
    position: relative;
}

#nav_menu.menu_appear .icone_menu {
    border-top-color: transparent;
}

#nav_menu.menu_appear .icone_menu::before {
    transform: rotate(135deg);
}

#nav_menu.menu_appear .icone_menu::after {
    transform: rotate(-135deg);
    top: -7px;
}


.cabecalho_botoes {
    height: 0;
    visibility: hidden;
    overflow-y: hidden;
    background-color: var(--cor-secundaria);
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 59px;
    width: 100%;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    transition: .7s;
    z-index: 1000;
}

#nav_menu.menu_appear .cabecalho_botoes {
    height: 285px;
    visibility: visible;
}

.botoes {
    text-decoration: none;
    color: var(--cor-branco);
    padding: 25px 10px;
    display: flex;
    justify-content: center;
    width: 50px;
}

.botao_borda {
    border-bottom: 1px solid var(--cor-complementar-3);
}

.botoes:hover {
    background-color: var(--cor-secundaria-dark);
    transition: 0.5s;
}