#logo {
    width: 50px;
    margin-left: 10px;
  }

  .cls-1 {
    fill: var(--cor-branco);
  }

  .cls-2 {
    fill: var(--cor-complementar-3);
  }

  .cls-3 {
    fill: var(--cor-branco);
  }

  .cls-4 {
    fill: var(--cor-complementar-3);
  }