@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Josefin+Sans:ital,wght@1,700&family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('./header.css');
@import url('./footer.css');
@import url('./main.css');
@import url('./logo.css');

:root {
    /* Cores */
    --cor-primaria: #1282A2;
    --cor-secundaria: #034078;
    --cor-secundaria-dark: #033563;
    --cor-complementar: #001F54;
    --cor-complementar-2: #0a1129;
    --cor-complementar-3: #74BAFB;
    --cor-branco: #FEFCFB;
    --cor-gelo: #FAFAFA;
    --cor-cinza: #d6d6d6;
    --cor-preta: #202020;

    /* Fontes */
    --font-logo: 'Josefin Sans', sans-serif;
    --font-texto: 'Montserrat', sans-serif;
    --font-titulo: 'Krona One', sans-serif;

    /* Tamanho Header */
    --height-header: 85px;
    /* Tamanho Footer */
    --height-footer: 45px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-gelo);
    color: var(--cor-branco);
    user-select: none;
    font-family: var(--font-texto)
}

.font_logo{
    font-family: var(--font-logo);
}

.font_titulo{
    font-family: var(--font-titulo);
}

a{
    text-decoration: none;
}

.flex1 {
    flex: 1
}